.totalPrice h1 {
  font-size: 1.5rem;
}
@media screen and (max-width: 473px) {
  .totalPrice {
    padding: 1rem 0;
    width: 330px;
  }
}
@media screen and (max-width: 1400px) {
  .cartContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cartItems{
    
    flex-wrap: wrap;
    

  }

}